@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
}
h1 {
  font-size: 42px;
}
h3 {
  font-size: 32px;
}


body {
  margin: 0;
  font-family: 'Source Serif Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  margin: 5px 5px 5px 0px;
}

.clientDash__welcome {
  justify-content: center;
}

.clientDash__doughnut {
  margin: 50px 0;
}